.header{
    background-color: rgb(245, 222, 222);
    width: 90%;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
}

.footer{
    background-color: rgb(245, 222, 222);
    width: 90%;
    height:50px;
    margin-right: auto;
    margin-left: auto;
}

a {
    color:rgb(4, 47, 65);
    font-family: 'Trebuchet MS';
}
#centro { 
    text-align: center;
    color:rgb(255, 255, 255);
}

.medio{
    background-color: rgb(245, 222, 222);
    text-align: center;
    color: crimson;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

#peque {
    font-size: smaller;
    font-weight: bold;
    color: deeppink;
    text-align: center;
}

.caja{
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 90%;
    font-family: 'Trebuchet MS';
    color: rgb(178, 65, 201);
    height: auto;
    margin-bottom: 1%;
    text-align: center;
  
}

.menu{
    padding: 0%;
    list-style: upper-alpha;
    background-color: rgb(190, 161, 192);
    width: 90%;
    margin: auto;
    
    
}

.menu li{
    display: inline;
    text-align: center;
   
}

.sep{
    background-color: rgb(245, 222, 222);
    width: 80%;
    margin: auto;
    height: auto;
    margin-bottom: 1%;
   
}

.centra2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;

}

form{
    background-color: rgb(255, 255, 255);
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1%;

}

.video-responsivo {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0;
    overflow: hidden;
    }
    
.video-responsivo iframe,
.video-responsivo object,
.video-responsivo embed {
    position: absolute;
    margin-left: 5%;
    width: 90%;
    height: 90%;
    }
.mt-5{
    background-color: rgb(245, 222, 222);
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

